.search-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	padding: 1rem 1rem 1rem 0;
	box-shadow: 1px -1px 6px 0px rgba(166, 180, 200, 0.1490196078);
  }
  .search-box__input {
	width: 100%;
	border: 0;
	outline: 0;
  }
  .search-not {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
  }
  