.schedule {
  display: flex;
  gap: 1.6rem;
  position: relative;
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  border-radius: 1rem;
  border: 1px solid #f2f1f6;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(166, 180, 200, 0.3);
}
.schedule:last-child {
  margin-bottom: 0;
}
.schedule__img {
  width: 11.2rem;
  height: 11.2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.schedule .cont__title {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.schedule .desc {
  max-width: 16rem;
  font-size: 1.2rem;
  color: #656668;
}
.schedule .desc__item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.4rem;
}
.schedule .desc__item:last-child {
  margin-bottom: 0;
}
.schedule .desc__item:last-child.desc__item--mb {
  margin-bottom: 1.6rem;
}
.schedule .desc__text--point {
  font-weight: 700;
  color: #0396fc;
}
.schedule .btn-bg {
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.6rem;
  font-size: 1.2rem;
}
