.studyCard {
	width: 15.2rem;
	height: 23.2rem;
	border: 1px solid #F2F1F6;
	border-radius: 1rem;
	box-shadow: 1px -1px 6px 0px rgba(166, 180, 200, 0.1490196078);
	cursor: pointer;
  }
  .skillTag {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
	font-size: 1.1rem;
	line-height: 1.3rem;
  }
  .skillTag span {
	border-radius: 0.5rem;
	padding: 0.1rem 0.6rem;
	font-weight: 700;
  }
  .skillTag__complate {
	border: 1px solid #aaa;
	color: #aaa;
  }
  .skillTag__javascript {
	border: 1px solid #F7DF1E;
	background-color: #F7DF1E;
	color: #000;
  }
  .skillTag__typescript {
	border: 1px solid #3178C6;
	background-color: #3178C6;
	color: #fff;
  }
  .skillTag__react {
	border: 1px solid #02D9FF;
	background-color: #02D9FF;
	color: #fff;
  }
  .skillTag__html {
	border: 1px solid #dd4b25;
	background-color: #dd4b25;
	color: #fff;
  }
  .skillTag__css {
	border: 1px solid #264ce0;
	background-color: #264ce0;
	color: #fff;
  }
  .skillTag__dart {
	border: 1px solid #00cbb2;
	background-color: #00cbb2;
	color: #fff;
  }
  .skillTag__flutter {
	border: 1px solid #5dc2ed;
	background-color: #5dc2ed;
	color: #fff;
  }
  .studyBox__image {
	width: 15.2rem;
	height: 10.1rem;
	border-radius: 1rem;
	overflow: hidden;
	background-color: #eee;
  }
  .studyBox__title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 3.4rem;
	font-size: 1.2rem;
	margin-bottom: 0.8rem;
  }
  .studyBox__text {
	padding: 0.8rem 0.8rem 1.6rem;
  }
  .studyBox__list__item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.2rem;
	font-size: 1.1rem;
	color: #656668;
	margin-bottom: 0.6rem;
  }
  .studyBox__list__item:last-child {
	margin-bottom: 0;
  }
  .studyBox .skill-tag {
	flex-wrap: wrap;
	max-height: 6.5rem;
	margin-bottom: 0;
	overflow: hidden;
  }
  .studyBox .skill-tag span {
	height: 1.9rem;
  }
  